

<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>George & Evalyn - The Ultimate Solution</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">George & Evalyn Co.</a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="https://www.yegon.co.ke">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Members</a></li>
          <li class="menu-has-children"><a href="#nav-menu-container">Our Products</a>
            <ul>
              <li><a href="'#"></a>Survey</li>
              <li><a href="https://www.yegon.co.ke/survey-gis/survey">Survey</a></li>
              <li><a href="https://www.yegon.co.ke/survey-gis/consultation/">Consultation</a></li>
              <li><a href="#"></a>GIS & R.S</li>
              <li><a href="https://www.yegon.co.ke/survey-gis/tutorials">Software and Tutorials</a></li>

            </ul>
          </li>


          <li><a href="contact#contact">Contact</a></li>
        </ul>

        <iframe src="http://free.timeanddate.com/clock/i6lpr29z/n170/tcf90/pc9f0/ftbi/tt0/tw1/th2" frameborder="0" width="315" height="19"></iframe>

      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/1.jpg'%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Is it about Survey, GIS or Remote Sensing?</h2>
                <p>All these categories match what this site offers to its clients </p>
                <a href="#featured-services" class="btn-get-started scrollto">Why Us?</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/2.jpg'%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Survey and Mapping</h2>
                <p>Get to know your boundaries to enable you plan well for your land use activities and also understand your rights and restrictions</p>
                <a href="https://www.yegon.co.ke/survey-gis/survey" class="btn-get-started scrollto">Survey With Us</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/3.jpg'%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>GIS Systems</h2>
                <p>Want to manage your property from home? Try a GIS System that brings interactive maps to your computer or smartphone</p>
                <a href="https://www.yegon.co.ke/survey-gis/tutorials" class="btn-get-started scrollto">Talk to an expert</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/4.jpg'%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>GIS Programming</h2>
                <p>Looking to become a programmer so that you can handle your data processing probllems? Join us and make your dreams  come true</p>
                <a href="https://www.yegon.co.ke/survey-gis/tutorials" class="btn-get-started scrollto">Get guidance</a>
              </div>
            </div>
          </div>


          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'img/intro-carousel/5.jpg'%}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Remote Sensing</h2>
                <p>We can help you analyse your images to extract useful and meaningful data. </p>
                <a href="https://www.yegon.co.ke/survey-gis/tutorials" class="btn-get-started scrollto">Analyse now</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="">We are for change</a></h4>
            <p class="description">We believe in change and that is what keeps us moving</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">Always on time</a></h4>
            <p class="description">We take our work seriously and you will get your job done within stated timeline</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="">We love our job</a></h4>
            <p class="description">We provide quality services based on the professional skills every department has to offer</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">


        <header class="section-header">
          <h3>About Us</h3>
          <p>A short description about us is as simple as this:
            We are focused group of surveyors who would like to transform
            the world of Geomatics into a simpler and more flexible sector
            to enable us improve our services  in areas such as:</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'img/about-mission.jpg'%}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Survey and Mapping</a></h2>
              <p>
                Survey is a broad field ranging from field surveys to office work. Field surveys include leveling, traversing, data capture using GPS receivers and other related outdoor activities. Office work entails plan preparations, guidance on application of land laws, quotations, mutations and other related activities done indoors.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'img/about-plan.jpg'%}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">GIS Systems</a></h2>
              <p>
               A GIS is a system (geographic information system) designed to capture, store, manipulate, analyze, manage, and present all types of geographical data. There are many data sources for a GIS system that include demographic data, topographical data, environment data, facilities location data, geospatial reference data and many more.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="{% static 'img/about-vision.jpg'%}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Remote Sensing</a></h2>
              <p>
                 Remote Sesing is a susbset of GIS but is mostly alienated because of the level of tasks and skills involved in the processing of the sattelite imagery to obtain analytical maps and data. Unlike the GIS Programming, this field does not include web based coding but may involve automated programming to allow for inteligent data extraction.
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>Our services are classified based on the overall Geomatics field which includes Pure Survey, GIS systems and Remote Sensing as shown below</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="https://www.yegon.co.ke/survey-gis/survey">General and Fixed Surveys</a></h4>
            <p class="description">First of all, a boundary can be defined as a real or an imaginary line that separates two abutting properties. Thus, a general boundary survey is a survey done to establish a boundary of a unplanned region e.g rural areas, forests etc. On the other hand fixed boundary surveys are surveys done to determine boundaries for planned regions e.g township.</p>
          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="https://www.yegon.co.ke/survey-gis/tutorials">GIS System Design and Implementation</a></h4>
            <p class="description">A GIS is a system (geographic information system) designed to capture, store, manipulate, analyze, manage, and present all types of geographical data. There are many data sources for a GIS system that include demographic data, topographical data, environment data, facilities location data, geospatial reference data and many more. All these data can be used with a GIS system.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="https://www.yegon.co.ke/survey-gis/consultant">Consulation</a></h4>
            <p class="description">Survey is a broad field ranging from field surveys to office work. Field surveys include leveling, traversing, data capture using GPS receivers and other related outdoor activities. Office work entails plan preparations, guidance on application of land laws, quotations, mutations and other related activities done indoors. GIS is the new concept that applies computing to model data from abstract universe.</p>
          </div>
           <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="https://www.yegon.co.ke/survey-gis/tutorials">Online Lessons</a></h4>
            <p class="description">GIS programming is the technical part of GIS that involves development of new software, plugins and their application to resolution of real world problems. The most used type of languages are the scripting languages such as Perl and Python because of their power and flexibility. Some areas of survey such as the Land laws part also require an expert to explain for enlightenment purposes and here we are.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="https://www.yegon.co.ke/survey-gis/tutorials">Algorithms & Resolutions</a></h4>
            <p class="description">With the introduction of scripting languages such as Python and Perl, Artifical intelligence has been made posible. This means that you can now write scripts to perform automated tasks for you unlike in the old days when you had to input parameters after every step of processing. Agorithms vary with needs and it thus, means that you are on the safe side knowing atleast one of the languages.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="https://www.yegon.co.ke/survey-gis/forums">Forums</a></h4>
            <p class="description">Awareness is crucial in dissemination of information to the people. Misinformation has prevented some pepople from achieving a goal and it is through forums that we can share ideas and facts concerning the Geomatics, GIS and Remote Sensing fields to help us grow as Surveyors and GIS experts. Through this we will improve information sharing.</p>
          </div>


        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->


    <!--==========================
      Skills Section
    ============================-->
    <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>Our Skills</h3>
          <p>For the years we have been at work, we have been able to build our skills to levels we can say we are happy about. See them below.</p>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Fixed annd General Surveys <i class="val">100%</i></span>
            </div>
          </div>

           <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">GIS Systems <i class="val">98%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Remote Sensing <i class="val">85%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Algorithms <i class="val">90%</i></span>
            </div>
          </div>


        </div>

      </div>
    </section>

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Facts</h3>
          <p>The statistics below show how we offer our services to our clients</p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">16</span>
            <p>Clients</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">30</span>
            <p>Projects</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">24.7</span>
            <p>Support</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">12</span>
            <p>Hard Workers</p>
  				</div>

  			</div>



      </div>
    </section><!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->


    <!--==========================
      Clients Section
    ============================-->


    <!--==========================
      testimonials Section
    ============================-->


    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>These are the people responsible for all activities done by the Survey Department</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'img/team-1.jpg'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>R.K. George</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'img/team-2.jpg'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>E.K. Yegon</h4>
                  <span>Surveyor</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'img/team-3.jpg'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Charles</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="{% static 'img/team-4.jpg'%}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Send your compliments, suggestions or questions through the form below</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>P.O BOX 281, Oleguruone, Kenya</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="{% static 'tel:+155895548855">+254 703 9091 89</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">support@yegon.co.ke</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form  method="post" role="form" class="contactForm">
               {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="sub" id="sub" placeholder="Subject" data-rule="minlen:4"  data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comment" rows="5" data-rule="required" data-msg="Please write something" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>George & Evalyn Co.</h3>
            <p>The Company gives thanks to Almighty God for the Grace and Strength that has seen us grow daily. God Bless All.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="'#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              P.O BOX 281 <br>
              Olenguruone,<br>
              Kenya <br>
              <strong>Phone:</strong> +254 703 9091 89<br>
              <strong>Email:</strong> support@yegon.co.ke<br>
            </p>

            <div class="social-links">
              <a href="{% static '#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="{% static '#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="{% static '#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="{% static '#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="{% static '#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Beetroots increase blood levels which is good for our health. Get more news about fruit gardening by subscribing to our newsletter </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>George & Evalyn</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Designed by <a href="{% static 'https://bootstrapmade.com/">BootstrapMade</a> implemented by <font color='green'>Yegon</font>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="{% static '#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'lib/easing/easing.min.js'%}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js'%}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js'%}"></script>
  <script src="{% static 'lib/wow/wow.min.js'%}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js'%}"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js'%}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js'%}"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c48c00f51410568a1080833/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
