
<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
  <meta charset="utf-8">
  <title>Licit Guides - Exclussive Services</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{%static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{%static 'lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <link href="{%static 'lib/animate/animate.min.css'%}" rel="stylesheet">
  <link href="{%static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{%static 'lib/lightbox/css/lightbox.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{%static 'css/style.css'%}" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Licit Guides</a></h1>
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li class="menu-has-children"><a href="#about">Services</a>
            <ul>
              <li><a href="http://www.licitguides.xyz/codeforme/">Code my project</a></li>
              <li><a href="http://www.licitguides.xyz/trainme/">Paid training</a></li>
              <li><a href="http://www.licitguides.xyz/guideme/">Become an affiliate</a></li>
              <li><a href="http://www.licitguides.xyz/raiseme/">Showcase talent</a></li>
              <li><a href="http://www.licitguides.xyz/hookme/">Hook me up</a></li>
            </ul>
          </li>
         
          
          <li><a href="#contact">Contact</a></li>
        </ul>
          
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="https://www.cisco.com/c/en/us/solutions/enterprise-networks/enterprise-network-security/network-security-analytics/_jcr_content/Grid/category_atl_d645/layout-category-atl/anchor_info_b98/image.img.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>The Licit Agenda</h2>
                <p>This is groupwork and everyone has a role to make guides available to everyone across the world.</p>
                <a href="#featured-services" class="btn-get-started scrollto" data-toggle="modal" data-target="#myModal" >Why Us?</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="https://cdn.pixabay.com/photo/2019/03/27/13/33/technology-4085029_640.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Areas of concern</h2>
                <p>We deal with: Engineering, Computer Science/I.T, Geomatics, Biostatistics, Economics, Statistics</p>
                <a href="http://www.licitguides.xyz/network/" class="btn-get-started scrollto"> Join our network</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="https://csharpcorner-mindcrackerinc.netdna-ssl.com/article/top-5-best-programming-languages-for-blockchain-development/Images/Top%205%20Blockchain%20Languages.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Programming Languages</h2>
                <p>We are a huge group and we offer suport for: <font color="green">Erlang, Python, Java/Kotlin, Ruby, R, JavaScript, C/C++, SCADA, Siemens, Dotnet etc.</font></p>
                <a href="http://www.licitguides.xyz/codeforme/" class="btn-get-started scrollto">Explore</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="https://images.yourstory.com/cs/wordpress/2018/03/coding-job.png" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Code my project</h2>
                <p>Give us your requirements and we will make them specifications and make it work</p>
                <a href="http://www.licitguides.xyz/codeforme/" class="btn-get-started scrollto">Hire us</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="https://cdn.pixabay.com/photo/2017/01/10/19/02/dollar-1969930_640.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Do it yourself</h2>
                <p>If you like DIY, we can link you to an expert to guide you from where you are stuck.</p>
                <a href="http://www.licitguides.xyz/guideme/" class="btn-get-started scrollto">Resources</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="https://www.shoutmeloud.com/wp-content/uploads/2016/01/Best-Recurring-Affiliate-Programs.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Affiliates program</h2>
                <p>We like linking with other professionals because we believe in making things better each day.</p>
                <a href="http://www.licitguides.xyz/affiliate/" class="btn-get-started scrollto">Become an affiliate</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main" class="main-bg">

       <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Services</h3>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              
               <h2 class="title"><a href="http://www.licitguides.xyz/codeforme/">CodeMyProject</a></h2>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
             
              <h2 class="title"><a href="http://www.licitguides.xyz/trainme/">TrainMe</a></h2>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              
             <h2 class="title"><a href="http://www.licitguides.xyz/guideme/">DoItYourself</a></h2>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              
               <h2 class="title"><a href="http://www.licitguides.xyz/codeforme/">AffiliatesProgram</a></h2>-Technicals account<br></p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
             
              <h2 class="title"><a href="http://www.licitguides.xyz/trainme/">BuildNetwork</a></h2>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
             
              <h2 class="title"><a href="http://www.licitguides.xyz/trainme/">ExchangeProgram</a></h2>
            </div>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->


    <!--==========================
      Call To Action Section
    ============================-->
  <!-- Side Modal Top Right -->

<!-- To change the direction of the modal animation change .right class -->
<div class="modal fade right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-side and then add class .modal-top-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-side modal-top-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Why Us?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        -We have the tools<br>
        -We build fast<br>
        -We maintain our network
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Side Modal Top Right -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Nairobi, Kenya</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+254 703 9091 89"><font color="white">+254 739909154</font></a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:support@yegon.co.ke"><font color="white">support@yegon.co.ke</font></a></p>
            </div>
          </div>

        </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
   
    <div class="container">
      <div class="copyright">
        &copy; Copyright 2019<strong>Licit Guides</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Designed by <a href="https://yegon.co.ke/">Yegon</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <!--<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>-->
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{%static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{%static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'lib/easing/easing.min.js'%}"></script>
  <script src="{%static 'lib/superfish/hoverIntent.js"></script>
  <script src="{%static 'lib/superfish/superfish.min.js'%}"></script>
  <script src="{%static 'lib/wow/wow.min.js'%}"></script>
  <script src="{%static 'lib/waypoints/waypoints.min.js'%}"></script>
  <script src="{%static 'lib/counterup/counterup.min.js'%}"></script>
  <script src="{%static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
  <script src="{%static 'lib/isotope/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'lib/lightbox/js/lightbox.min.js'%}"></script>
  <script src="{%static 'lib/touchSwipe/jquery.touchSwipe.min.js'%}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{%static 'contactform/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{%static 'js/main.js'%}"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c48c00f51410568a1080833/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
